@model Usuario
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">

    <div class="card-header">
        Crear Usuario
    </div>

    <div class="card-body">
        <form asp-action="Eliminar" asp-controller="Usuario" method="post">

            <input asp-for="IdUsuario" type="hidden" class="form-control" /> <!--//referencia id /oculto con hidden -->
            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar el contacto: @Html.DisplayTextFor(m => m.NombresUsuario)
            </div>

            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Listar" asp-controller="Usuario" class="btn btn-warning">Volver a la lista</a>
        </form>

    </div>
</div>


