@model Usuario //llamado a las propiedades
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var perfiles = ViewData["Perfiles"] as List<Perfil>;
}

<form asp-action="Guardar" asp-controller="Usuario" method="post">
    <div class="form-group row g-3">
        <div class="form-group col-sm-3">
            <label class="form-label">Rol Usuario</label>
            <select asp-for="PerfilUsuarioP" class="form-control">
                <option value="">Seleccione un perfil</option>
                @if (perfiles != null)
                {
                    foreach (var perfil in perfiles)
                    {
                        <option value="@perfil.IdPerfil">
                            @perfil.DescripcionPerfil
                        </option>
                    }
                }
            </select>
        </div>

        <div class="form-group col-sm-3">
            <label class="form-label">Descripcion perfil</label>
            <input asp-for="descripcionperfil_usuario" type="text" class="form-control">
        </div>

        <div class="form-group col-sm-3">
            <label class="form-label">Numero de documento</label>
            <input asp-for="CiUsuario" type="text" class="form-control">
            <span asp-validation-for="CiUsuario" class="text-danger"></span> <!--//Validacion de campo obligatorio -->
        </div>

        <div class="form-group col-sm-3">
            <label class="form-label">Apellidos</label>
            <input asp-for="ApellidosUsuario" type="text" class="form-control">
        </div>


        <div class="form-group col-sm-3">
            <label class="form-label">Nombres</label>
            <input asp-for="NombresUsuario" type="text" class="form-control">
        </div>

        <div class="form-group col-sm-3">
            <label class="form-label">Telefono</label>
            <input asp-for="TelefonoUsuario" type="text" class="form-control">
        </div>
        <div class="form-group col-sm-3">
            <label class="form-label">Email</label>
            <input asp-for="EmailUsuario" type="text" class="form-control">
        </div>

        <div class="form-group col-sm-3">
            <label class="form-label">Establecimiento</label>
            <input asp-for="EstablecimientoUsuario" type="text" class="form-control">

        </div>


        <div class="form-group col-sm-3">
            <label class="form-label">Dirección</label>
            <input asp-for="direcccionestable_usuario" type="text" class="form-control">

        </div>
        <div class="form-group col-sm-3">
            <label class="form-label">Ciudad</label>
            <input asp-for="ciudad_usuario" type="text" class="form-control">
        </div>

        <div class="form-group col-sm-3">
            <label class="form-label">Provincia</label>
            <input asp-for="provincia_usuario" type="text" class="form-control">

        </div>

        <div class="form-group col-sm-3" hidden>
            <label for="fechaCreacionInput" class="form-label">Fecha de Creación</label>
            <input type="text" asp-for="FechacreacionUsuario" class="form-control" id="fechaCreacionInput" />
        </div>

        <div class="form-group col-sm-3">
            <label class="form-label">Login</label>
            <input asp-for="LoginUsuario" type="text" class="form-control">

        </div>
        <div class="form-group col-sm-3">
            <label class="form-label">Clave</label>
            <input asp-for="ClaveUsuario" type="text" class="form-control">

        </div>
        <div class="form-group col-sm-3" hidden>
            <label class="form-label">Activo</label>
            <input asp-for="ActivoUsuario" type="text" value="1" class="form-control" readonly>
        </div>
        <div class="form-group col-sm-3">
            <label class="form-label">Codigo</label>
            <input asp-for="CodigoUsuario" type="text" class="form-control">
        </div>



    </div>

    <div class="form-group">
        <div class="btn-group">

            <button type="submit" class="btn btn-primary">Grabar</button>
            <a asp-action="Listar" asp-controller="Usuario" class="btn btn-warning">Volver a la lista</a>
      
        </div>
    </div>


</form>
