@{
    ViewData["Title"] = "Home Page";
}

<main>

    
        <h1>Sistema de consultas médicas</h1>
        <div class="card mb-3" style="display: flex; justify-content: space-between;">
            <div class="row g-0" style="flex: 1;">
                <div class="col-md-6" *ngIf="agenda.length == 0">
                    <div class="card-body text-center">
                        <h5 class="card-title">
                            <i class="fas fa-calendar-alt"></i>
                            No hay citas programadas para hoy
                        </h5>
                    <a class="btn btn-outline-primary" asp-area="" asp-controller="Paciente" asp-action="Listar">
                       
                            <i class="fa fa-plus"></i>
                            Agendar nueva cita
                        </a>

                    </div>
                </div>

                <div class="col-md-6">
                    <p>Más acciones</p>
                    <div class="btn-group">
                    <a class="btn btn-outline-primary" asp-area="" asp-controller="Cita" asp-action="Listar">
                            <i class="far fa-calendar-check"></i>
                            Consultar citas
                        </a>

                        <div class="btn btn-light">o</div>
                    <a class="btn btn-outline-primary" asp-area="" asp-controller="Consulta" asp-action="Guardar">
                            <i class="fa fa-user-md "></i>
                            Generar una consulta
                        </a>
                    </div>
                </div>
            </div>
            <div class="divider">

            </div>
        </div>

</main>